 <nav>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Home</a><span class="divider">/</span></li>
                <li><a href="#">News</a><span class="divider">/</span></li>
                <li><a href="#">Sports</a></li>
            </ul>
        </div>
    </nav>
