<footer class="bgc btop">
  <div class="container">
    <div class="row">
      <div class="span2">Copyright@woaigithub</div>
      <div class="span2 pull-right">
        <%= link_to "Signin", signin_path %>
      </div>
      <div class="span2 pull-right">
        <%= link_to "Signup", signup_path %>
      </div>
    </div>
  </div>
</footer>
